*{
    margin: 0;
    padding: 0;
}
html{
    height: 100vh;
    width: 100vw;
}
body{
    height: 100%;
    width: 100%;
}
.assets{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.button .custom-button-asset{
    height: 50px;
    width: 175px;
    border-radius: 10px;
    background: linear-gradient(to right, #4CAF50, green); /* Initial gradient */
    background-size: 200% 100%;
    transition: background-position 0.5s;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
.button .custom-button-asset:hover{
    background-position: -100% 0;
}
